---
# Apply to project: Place in the project root directory
# Apply globally:   Place in ~/
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
PointerAlignment: Right
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
SpaceBeforeParens: Never
Standard: Cpp11
SortIncludes: true
SpaceAfterCStyleCast: false
SpacesInParentheses: false
---